<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Agencies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="companyLog">
        <a class="navbar-brand" href="/">
          <img src="https://assets-global.website-files.com/6246e239c0cb131560ef79d5/6246e76bba42b4569999b33a_Bitprop-logo.svg" alt="">
        </a>
    </div>
    <h1 class="agencyTitle">The following are agents working across Bitprop 70+ properties</h1>

    <div class="AgentProfile">
        <div class="card" style="width: 15rem;">
            <h5>Agent</h5>
            <div>
               
                    <img class="AgentPhoto" src="/photos/IDphoto.jpg" alt="">
                
            </div>
                <div>Keith Samuel</div>
                <br>
                <span>Contact: 0794424126</span>
        </div>
    </div>
    <br>
    <div class="AgentProfile">
        <div class="card" style="width: 15rem;">
            <h5>Agent</h5>
            <div>
                    <img class="AgentPhoto" src="/photos/IDphoto2.jpg" alt="">
            </div>
                <div>Fenzile Daidoo</div>
                <br>
                <span>Contact: 0894724120</span>
        </div>
    </div>
</body>
</html>