*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body{
    height: 100vh;
    /* min-height: 100vh; */
    /* width: 100vw; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Roboto",sans-serif; */
    transition-duration: 3s;
    scroll-behavior: smooth; 
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    
}
.titleH{
    text-align: center;
    margin: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.searchButton{
    width: 50%;
    
}

.searchBar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navbar{
    border-bottom: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.navbar_nav{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 140px;

}

ul ,.nav-link{
    list-style-type: none;
  }





.btn{
    color: #ced4da;
    margin: 0;
}


.prop_Photo{
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.propertyPhoto{
    display: flex;
}


.prop_price{
    color: #0D63C9;
    font-size: 26px;
    font-weight: 600;
    line-height: 18px;
}

.propertyDetails{
    padding: 8px;
}

.cardDeitails{
    height: 800px;
}


#fullprop_Photo{
    width: 719px;
    height: 500px;
    object-fit: cover;
}

.descriptionDetails,.fullpropertyDetails{
    margin-top: 10px;
}

.contentPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description,.Icons{
    padding: 10px;
}
.Icons{
    display: flex;
    justify-content:space-between;
}
.IconPart1,.IconPart2{
    display: flex;
    flex-direction: column;

    
}
.IconPart2{
    padding-right: 250px;
    
}
.photoGridAndAgent > .card{
    height: 250px;
}
.photoGridAndAgent {
    display: flex;
    margin-left: 15px;
    margin-top: 37px;
    
}
.photoGridAndAgent2{
    display: flex;
    /* margin-right: 800px; */
    /* margin-left: 23px; */
}

.tenantDetails{
    margin-left: 20px;
}
.AgencyLogo{
    margin-top: 7px;
    
}
.AgencyLogoPhoto{
    padding: 5px;
}
.AgencyLogo> .card{
    height: 105px;
}


.fullpropertyDetails{
    display: flex;
    /* justify-content: center; */
    margin-left: 15px;
}

.AgentPhoto{
    height: 155px;
    width: 130px;
}
/* .AgentProfile > .card{
    display: flex;
} */

.AgentProfile > .card{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.AgentProfile {
    margin-left: 18px;
}

.LogInSection{
    display: flex;
    justify-content: end;
}

.mainpanel{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.mainpanel > .card{
    margin-top: 10px;
}

.tenantDetails{
    /* padding: 20px; */
}

.photoGrid{
    margin-left: 15px;
}

.card{
    cursor: pointer;
}
/* 
.mainPage{
    display: flex;
} */

.photoGrid2{

}

.titleandButton{
    margin-left: 15px;
}
.titleheaders{
    margin-left: 15px;
    margin-bottom: 5px;
}


.companyLog{
    padding: 5px;
}